
*{
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
}

.nav-bar li {
  display: inline-block;
  transform: none;
  padding: 15px;
  
}


.nav-bar ul{
  padding: 5px;
  margin: 0px;
  background-color: black;
}

.nav-bar li a{
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.serach-box{
  width: 200px;
    margin: 20px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    font-size: medium;
}
















.footer{
  bottom: 0;
  background-color: blue;
  color: beige;
  position: absolute;
  text-align: center;
  width: 100%;
}

.inputBox{
  padding: 5px;
    margin: 10px;
    display: block;
    margin-left: 500px;
}
.filled-input{
  color: red;
  margin-left: 500px;
}

.product-list{
  text-align: center;
  margin: 20px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  width: 150px;;
}

button{
  padding: 5px;
  margin: 10px;
  display: block;
  margin-left: 500px;
  background-color: black;
  color: #fff;
}
.nav-right{
  text-align: right;
}
.logo{
  width: 60px;
  float: left;
  border-radius: 50%;
  margin: 2px;
  margin-left: 8px;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
